@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}
i {
	color: #FFF;
	font-size: 40px !important;
}
a, .nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	outline: none;
}
.red, .blue {
	background-color: #be0802;
	width: 120px;
	height: 40px;
	color: #FFF;
	margin-right: 5px;
}
.blue {
	background-color: #0985c8 !important;
}
h1{font-size:28px;}
p{font-size:16px;}
body {
}
/*------ Header -------- */
.header {
	padding: 28px 0;
	}
.navbar-default {
	background-color: transparent !important;
	border: none !important;
	margin-bottom: 0;
    margin-top: 22px;
}
.navbar-nav {
	float: right !important;
}
.navbar-nav li {margin-right:15px;}
.navbar-nav li a {
	background: none !important;
	color: #000 !important;
	padding:5px !important
}
/*---------- Content Area -------- */
.content-area {
	background: url(../images/content-bg.png) no-repeat;
	background-color: #fff;
	background-position: top left;
	background-size: 100%;
}
.category-wrapper {
	padding-top: 150px;
}
/*---------- Post -------- */
.button-area {
	margin: 40px 0;
}
.post {
	background-color: #0985c8;
	padding: 20px 0;
	text-align: center;
}
.post-img {
	margin-bottom: 10px;
}
.post-content p {
	color: #FFF !important;
	font-size: 22px !important;
}

/*--------------- select dropdown custom ---------------- */
 
@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
 .custom-dropdown {
 position: relative;
}
 .custom-dropdown::before, .custom-dropdown::after {
 content: "";
 position: absolute;
 pointer-events: none;
}
 .custom-dropdown::after { /*  Custom dropdown arrow */
 content: "\25BC";
 height: 1em;
 font-size: 0.9em;
 line-height: 1;
 right: 0.6em;
 top: 50%;
margin-top: -.5em;
}
 .custom-dropdown::before { /*  Custom dropdown arrow cover */
 bottom: 0;
    
    right: 0;
    top: 0;
    width: 3em;
}
 .custom-dropdown__select[disabled] {
 color: rgba(0,0,0,.3);
}
 .custom-dropdown.custom-dropdown--disabled::after {
 color: rgba(0,0,0,.1);
}

    /* White dropdown style */
    .custom-dropdown--white::before {
 top:0;
 background-color: #fff;
 
}


 .custom-dropdown--white::after {
 color: rgba(127,127,127,.9);
}

    /* FF only temp fix */
    @-moz-document url-prefix() {
 .custom-dropdown__select {
padding-right: .9em
}
 .custom-dropdown--large .custom-dropdown__select {
padding-right: 1.3em
}
 .custom-dropdown--small .custom-dropdown__select {
padding-right: .5em
}
}
}
/*--------------- End select dropdown custom ---------------- */  

/*------- INNER PAGE--------- */
.inner-page{background:url(../images/inner-page-bg.png) repeat-x; padding-top:40px;}
.inner-page P{color:#8d8d8d; font-size:14px;} 
/*------- Conatct page--------- */
.contact-form{}
.contact-form h3 {
    background: #be0802;
    color: #fff;
    padding: 5px 10px;
}
.cover-logo span{
   border-right: 1px solid #666;
    color: #666;
    cursor: pointer;
    padding-right: 10px;
}
.contact-form .form-control, .contact-form button {
   
    border: medium none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
}
.modal-content{background-color: #7f7f7f !important;}
.contact-form select{color:#7f7f7f; padding-left:5px;}
.contact-form option {
    padding: 10px;
	color:#7f7f7f;
}
.contact-form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #7f7f7f !important;
}
.contact-form input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #7f7f7f !important;
}
.contact-form input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #7f7f7f !important;
}
.contact-form input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #7f7f7f !important;
}
.contact-form button{background:#a6a3a3; color:#FFF;}


/*------- Footer --------- */
.footer{}
.footer p{color:#a3a3a3;}
@media (min-width:768px) and (max-width:1024px){
.logo img {
    display: block;
    height: auto;
    width: 100%;
}
.navbar-default{margin-top:4px; margin-bottom:0 !important;}
.navbar-nav li {
    margin-right: 6px;
}
}
@media (max-width:767px){
	.no-padding{padding:0 !important;}
	.bg{background-color:#2ba0db !important; margin-top:0 !important}
.header{padding-top:0;}
.navbar-default .navbar-toggle{border:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background:none !important;}
.navbar-default .navbar-toggle .icon-bar{background-color:#FFF !important;}
.navbar-toggle .icon-bar{height:3px !important;}
.navbar-nav{float:left !important}
.category-wrapper {
    padding-top: 70px;
}
.post{margin-bottom:30px;}
}